.container-adm{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #219ebc;
}
    @media (max-width: 576px) {
        .container-adm{
            display: flex;
            justify-content: center;
        }  
    }
    
 .form-adm{
    margin-top: 50px;
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8f9fa; 
    border-radius: 10px;
    padding: 32px 24px;
    border: 1px solid #eee;
    margin-bottom: 100px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.7);
}
    @media (max-width: 576px) {
        .form-adm{
            width: 80%;
            height: 100%;
            align-items: center;
        }
    }


.input-adm{
    width: 100%;
    height: 30px;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    border: #eee 1px solid;
}

.title-adm{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 32px 24px;
}


.div-adm{
    width: 100%;
    font-size: 17px;
}
     @media (max-width: 576px) {
        .div-adm {
            font-size: 12px;
        }
    }


.button-adm{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background-color: #ffb703;
    color: white;
    margin-top: 40px;
}

.button-adm:hover {
    background-color: #db9d00;
}

.img-adm {
    width: 50px;
    height: 50px;
}


.Form-erro-adm{
    color: red;
    transform: translate(2px, -20px);
}