.container-adm{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
}
    @media (max-width: 600px) {
        .container-adm{
            display: flex;
            justify-content: center;
        }  
    }
    
    @media (min-width: 700px){
        .container-adm{

        }
}

    @media (min-width: 1100px){
        .container-adm{

        }
}


.formik-adm{

}

.form-adm{
    margin-top: 50px;
    width: 400px;
    height: 600px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #dee2e6; 
    border-radius: 10px;
    padding: 32px 24px;
    border: 1px solid #BBBBBB;
}
    @media (max-width: 600px) {
        .form-adm{
            width: 100%;
            height: 100%;
            align-items: center;
        }
    }


.input-adm{
    width: 100%;
    height: 30px;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    border-bottom: 1px solid #807F7F;
}

.title-adm{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 32px 24px;
}

.div-adm{
    width: 100%;
    font-size: 17px;
}

.button-adm{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background-color: #adb5bd;
}

.img-adm{
     width: 80px;
    height: 80px;
    transform: translate(0%, 50%);
}

 @media (max-width: 576px) {
        .img-adm{
            width: 60px;
            height: 60px;
        }
    }

.Form-erro-adm{
    color: red;
    transform: translate(2px, -20px);
}