.container-cadastro{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #219ebc;
}
    
@media (max-width: 576px) {
    .container{
    padding: 30px;   
    font-size: 14px;
    display: flex;
    justify-content: center;  
    }
}
    
    /*Tablete*/
@media (min-width: 768px){
    .container{

    }
}

    /*Desktop 992px*/
@media (min-width: 992px){
        .container{

    }
}

    /*Desktop 1200px*/
 @media (min-width: 1200px){
    .container{

    }
}


.title-cadastro{
    font-size: 30px;
    font-weight: 500;
    padding: 0px 0px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 576px) {
    .title-cadastro{
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 8px; 
    }
}


Form.form-cadastro{
    margin-top: -50px;
    width: 50%;
    height: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8f9fa; 
    border-radius: 10px;
    padding: 10px 0px;
    border: 1px solid #eee;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
    color: #000000;
}
@media (max-width: 760px) {
    Form.form{
        margin-top: 5px;
        width: 100%;
        height: auto;
        align-items: center;
    }
}
@media (min-width: 760px) {
    Form.form{
        margin-top: 5px;
        width: 75%;
        height: auto;
        align-items: center;
    }
}


.parte{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

@media (max-width: 576px){
    .parte{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        border-radius: 10px;
    }
}

.parte1{
    width: 40%;
    height: 40%;
}

@media (max-width: 576px){
    .parte1{
        width: 90%;
        height: 90%;
    }
}

.parte2{
    width: 40%;
    height: 40%;
}

@media (max-width: 576px){
    .parte2{
        width: 90%;
        height: 90%;
    }
}

.inputdiv{
    width: 100%;
    font-size: 17px;
}
@media (max-width: 576px) {
        .inputdiv{
        font-size: 12px;
    }
}


.label{

}

.input{
    width: 100%;
    height: 30px;
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 0px 4px;
    margin-top: 5px;
    border: #eee 1px solid;
}

.imagem{
    width: 80px;
    height: 80px;
    transform: translate(0%, 30%);
}

.Form-erro{
    color: rgba(255, 251, 24, 0.74);
    font-size: 15px;
    transform: translate(20px, 20px);
    display: flex;
    align-items: center;

}

.erro{
    transform: translate(0px, 11px);
    color: red;
    border-radius: 4px;
}

.Submit{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background: #1ba816;
    color: white;
    margin-top: 20px;
}

.Submit:hover{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background: #1ba816;
    color: white;
    margin-top: 20px;
}

.Submit-Cancel{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background: #e91f1f;
    color: white;
    margin-top: 20px;
}

.Submit-Cancel:hover{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 3px 10px;
    box-shadow: 1px 1px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background: #e91f1f;
    color: white;
    margin-top: 20px;
}

.teste{
    background: #000000;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
