.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    }
    
@media (max-width: 576px) {
    .container{
    font-size: 14px;
    display: flex;
    justify-content: center;  
    }
}
    
    /*Tablete*/
@media (min-width: 768px){
    .container{

    }
}

    /*Desktop 992px*/
@media (min-width: 992px){
        .container{

    }
}

    /*Desktop 1200px*/
 @media (min-width: 1200px){
    .container{

    }
}


.title-cadastro{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 32px 24px;
}
@media (max-width: 576px) {
    .title-cadastro{
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 8px; 
    }
}


Form.form{
    margin-top: 50px;
    width: 400px;
    height: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #dee2e6; 
    border-radius: 10px;
    padding: 32px 24px;
    border: 1px solid #BBBBBB;
}
@media (max-width: 576px) {
    Form.form{
        width: 100%;
        height: 100%;
        align-items: center;
    }
}


.inputdiv{
    width: 100%;
    font-size: 17px;
}
@media (max-width: 576px) {
        .inputdiv{
        font-size: 12px;
    }
}


.label{

}

.input{
    width: 100%;
    height: 30px;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    border-bottom: 1px solid #807F7F;
}

.imagem{
    width: 80px;
    height: 80px;
    transform: translate(0%, 30%);
}

.Form-erro{
    color: red;
    transform: translate(2px, -20px);
}

.Submit{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background-color: #adb5bd;
}
