div.container-login{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #219ebc;
}
    /*Phone less than 576px*/
    @media (max-width: 576px) {
        div.container-login{

        }
    }
   
    /*Tablete 768px and up*/
    @media (min-width: 768px){
        div.container-login{

        }
    }

    /*Desktop 992px and up*/
    @media (min-width: 992px){
        div.container-login{

        }
    }

    /*Desktop 1200px and up*/
    @media (min-width: 1200px){
        div.container-login{

        }
    }


.title-login{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 32px 24px;
}
    @media (max-width: 576px) {
        .title-login{
            font-size: 20px;
            display: flex;
            justify-content: center;
            margin-bottom: 8px; 
        }
    }


.form-login{
    margin-top: 50px;
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8f9fa; 
    border-radius: 10px;
    padding: 32px 24px;
    border: 1px solid #eee;
    margin-bottom: 100px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.7);
}
    @media (max-width: 576px) {
        .form-login{
            width: 80%;
            height: auto;
            align-items: center;
            margin: 20px;
            
        }
    }


div.input-div{
    width: 100%;
    font-size: 17px;
}
     @media (max-width: 576px) {
        div.input-div{
            font-size: 12px;
        }
    }


.input{
    width: 100%;
    height: 30px;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    border: #eee 1px solid;
}
button.login{
     width: 50%;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background-color: #ffb703;
    color: white;
    margin-top: 40px;
}

div.social{
    transform: translate(0px, -20px);
}
@media (max-width: 576px){
    div.social{
        transform: translate(0px, -20px);
    }
}

button.cadast{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    background-color: #ffb703;
    color: white;
}
img{
    width: 40px;
    height: 40px;
    transform: translate(0%, 40%);
}
    @media (max-width: 576px) {
        img{
            width: 40px;
            height: 40px;
        }
    }


div.Form-erro{
    color: red;
    transform: translate(2px, -10px);
}
 @media (max-width: 576px) {
        div.Form-erro{
            font-size: 16px;
        }
    }

p.par{
    margin-top: 10px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
