div.container-login{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(251, 251, 251);
}
    /*Phone less than 576px*/
    @media (max-width: 576px) {
        div.container-login{
            margin: 10px;
            font-size: 14px;
            display: flex;
            justify-content: center;  
        }
    }
   
    /*Tablete 768px and up*/
    @media (min-width: 768px){
        div.container-login{

        }
    }

    /*Desktop 992px and up*/
    @media (min-width: 992px){
        div.container-login{

        }
    }

    /*Desktop 1200px and up*/
    @media (min-width: 1200px){
        div.container-login{

        }
    }


.title-login{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 32px 24px;
}
    @media (max-width: 576px) {
        .title-login{
            font-size: 20px;
            display: flex;
            justify-content: center;
            margin-bottom: 8px; 
        }
    }


.form-login{
    margin-top: 50px;
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #dee2e6; 
    border-radius: 10px;
    padding: 32px 24px;
    border: 1px solid #BBBBBB;
}
    @media (max-width: 576px) {
        .form-login{
            width: 100%;
            height: 100%;
            align-items: center;
        }
    }


div.input-div{
    width: 100%;
    font-size: 17px;
}
     @media (max-width: 576px) {
        div.input-div{
            font-size: 12px;
        }
    }


.input{
    width: 100%;
    height: 30px;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 5px;
    border-bottom: 1px solid #807F7F;
}

button.login{
     width: 50%;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background-color: #adb5bd;
}

button.login-social{
     width: 50%;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background-color: #adb5bd;
}

button.cadast{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background-color: #adb5bd;
}

img{
    width: 80px;
    height: 80px;
    transform: translate(0%, 40%);
}
    @media (max-width: 576px) {
        img{
            width: 60px;
            height: 60px;
        }
    }


div.Form-erro{
    color: red;
    transform: translate(2px, -20px);
}

.teste{
    transform: translate(0px 0px);
    background-color: black;
}